<style>
    .game_picking a {
        display: block;
        font-size: 1.5em;
    }
    .game_picking img {
        width: 0.9em;
        height: 0.9em;
    }
</style>

<div class="container">
    <section class="game_picking">
        <header><h1>Pick a Game</h1></header>
        <a ng-click="f5.changeStage('gameprotos.2dracing.loadingProgram')" href="#">
            <img src="/resource/2DRacing/red.png">
            2D Racing
        </a>
        <a ng-click="f5.changeStage('gameprotos.tdshooter.loadingProgram')" href="#">
            <img src="/resource/TDShooter/player/ship.png">
            Top Down Shooter
        </a>
        <a ng-click="f5.changeStage('gameprotos.2dplatformer.ragdoll.loadingProgram')" href="#">
            <img src="/resource/2DPlatformer/ragdoll/player/head.png">
            2D Platformer (ragdoll)
        </a>
        <a ng-click="f5.changeStage('gameprotos.2dplatformer.block.loadingProgram')" href="#">
            <img src="/resource/dot.png">
            2D Platformer (block)
        </a>
    </section>
</div>